@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
}

h1 {
  margin-top: 1em;
  margin-bottom: 0;
}

#start {
  margin-top: 1rem;
}

.subheading {
  margin-top: 1em;
  margin-bottom: 0;
  font-size: 1.2rem;
  color: red;
}

h5 {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
#container {
  width: 70%;
  max-width: 1080px;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.painting {
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 5px;
}

.check {
  width: 100%;
  background-size: contain;
  background-position: center;
  cursor: default;
}

.info {
  display: flex;
  gap: 30px;
  align-items: center;
  margin: 1em;
  margin-bottom: 1.5em;
  opacity: 0;
  pointer-events: none;
}

.answer {
  display: flex;
  flex-direction: column;
}

p {
  margin: 0.2em 0 0.2em 0;
}

.title {
  font-style: italic;
  font-weight: bold;
}

button {
  background-color: #555;
  color: white;
  border: none;
  font-size: 1.2rem;
  padding: 0.5em 1em;
  border-radius: 10px;
}

button:hover {
  background-color: black;
  cursor: pointer;
}

span {
  margin-right: 0.2em;
}

.dimensions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  body,
  #container {
    /* height: auto; */
    overflow-x: hidden;
    overflow-y: auto;
  }

  #container {
    width: 100%; /* Use the full width for mobile devices */
    padding-bottom: 20px;
  }

  .painting,
  .info {
    flex-direction: column; /* Stack info sections vertically on narrow screens */
  }

  .dimensions,
  .slider {
    width: 100%; /* Ensure sliders use available width */
  }

  h1,
  .subheading,
  p {
    padding: 0 20px; /* Adds padding to text elements to prevent edge-to-edge text */
  }
}
